<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cashflow - PeerIQ</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/datatables.min.css" rel="stylesheet">
    <link href="static/css/datatables.min.css" rel="stylesheet">
    <link href="static/css/fixedHeader.dataTables.min.css" rel="stylesheet">
    <link href="static/css/cashflow.css" rel="stylesheet">
</head>

<body>
    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center error-background">
                    <h5 class="modal-title w-100">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
                </div>
                <div class="modal-body">
                    <p id="errorText"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container input-area">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <form id="loanForm" class="form loan-form">
                    <div class="text-center mb-4">
                        <h1 class="h3 mb-3 font-weight-normal">Loan Payment Plan Generator</h1>
                        <p>Enter non-zero values for the fields below for:
                            <br/>Principal (Loan Amount), Interest Rate per Year (%), and Term (years)
                        </p>
                    </div>
                    <div class="form-label-group">
                        <input type="number" step="any" name="principal" class="form-control" placeholder="1000" min="1" required autofocus>
                        <label for="principal">Principal</label>
                    </div>
                    <div class="form-label-group">
                        <input type="number" step="any" name="interest_rate" class="form-control" placeholder="3.625" min="1" required>
                        <label for="interest_rate">Interest per Year (%)</label>
                    </div>
                    <div class="form-label-group">
                        <!-- max="30" should be used, but for sake of modal demonstration as per request we allow max to be erroneous -->
                        <input type="number" name="term_years" class="form-control" placeholder="5" min="1" max="40" step="1" required>
                        <label for="term">Term (years)</label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Generate Payment Plan</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container output-area">
        <button class="btn btn-primary show-input">Show Input Area</button>
        <table id="payment_plan_table" class="display" width="100%">
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Starting Balance</th>
                    <th>Fixed Payment</th>
                    <th>Interest</th>
                    <th>Principal</th>
                    <th>Ending Balance</th>
                    <th>Cumulative Interest</th>
                </tr>
            </thead>
        </table>
    </div>
    <script src="static/js/bootstrap_jq.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/datatables.min.js"></script>
    <script src="static/js/dataTables.fixedHeader.min.js"></script>
    <script src="static/js/cashflow.js"></script>

</body>

</html>